.no-underline {
    text-decoration: none;
  }
  
  .no-underline:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
  }
  
  .table th,
  .table td {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  .tableBox {
    overflow-y: auto;
    height: 250px;
    width: 100%;
  }
  
  .fixed-th {
    position: sticky;
    top: 0;
    background-color: rgb(255, 219, 128);
  }
  
  .selected {
    background-color: #4338ca;
    color: white;
  }